
.user aside{
	height:850px;
	width:20%;
	position:static;
	float:left;
	background-color:#FF9900;
	margin: 0px 0px 0px 100px;

}

.user section{
	height:800px;
	width:100%;
	float:left;
	background-color:white;

}

.firstSection{
	height:150px;
	width:60%;
	float:left;
	border-right:67px solid #FF9900;
}

.secondSection{
	height:600px;
	width:50%;
	float:left;
	background-color:none;
	padding:100px 0px 0px 100px;

}

.A {
	font-family:Arial Rounded MT Bold;
	font-size:1.2em;
	color:silver;

}

.A a{
	color:#FF9900;
}

.A td{
	padding:30px 200px 30px 50px;
}

.txt{
	font-size:4.5em;
	color:#FF9900;
	font-family:Copperplate Gothic Bold;
	font-weight:10px;
	margin:20px 0px 0px 30px;

}

.user ul{
	list-style-type:none;
	margin :0;
	padding:0px 0px 0px 40px;
	background-color:none;
}

.user li a{
	display:block;
	color:white;
	font-family:Copperplate Gothic Bold;
	padding:15px 0px 15px 10px;
	text-decoration:none;
	font-size:1.1em;
	width:228px;
	border-bottom:1px solid white;
}

.user a:hover{
	border-left:5px solid white;
	border-bottom:1px solid white;
	color:white;
}
